<header>
{% include "comheader.html" %}
<nav>
	<ul>
		<li data-name="top"><a href="#">头条</a></li>
		<li data-name="shehui"><a href="#">社会</a></li>
		<li data-name="guonei"><a href="#">国内</a></li>
		<li data-name="guoji"><a href="#">国际</a></li>
		<li data-name="yule"><a href="#">娱乐</a></li>
		<li data-name="tiyu"><a href="#">体育</a></li>
		<li data-name="junshi"><a href="#">军事</a></li>
		<li data-name="keji"><a href="#">科技</a></li>
		<li data-name="caijing"><a href="#">财经</a></li>
		<li data-name="shishang"><a href="#">时尚</a></li>
	</ul>
	</nav>
</header>