<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5" />
		<link rel="stylesheet" href="../static/css/news.css" />
		<link rel="stylesheet" href="../static/css/header.css" />
		<link rel="stylesheet" href="../static/css/footer.css" />		
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
		<script src="../static/js/click.js"></script>
		<script src="../static/js/header.js"></script>
	</head>
	<body>
		<div id="index">
			{% block header %}
				
			{% endblock %}
			<section>
			
			</section>
			
		</div>
			{% block footer %}
			
			{% endblock %}
	</body>
</html>
