<div class="content_wrap">
	<!--点击电影时弹出满屏的一个div，是该电影的详情-->
	<div class="detalis">
		<div class="fix"></div>
		<button class="close"></button>
		<div class="txt">
			<img src="../static/img/1.jpg" alt="" />
			<p><span>《湄公河行动》改编自“10.5湄公河大案”，讲述了一桩悲剧背后所隐藏的惊天阴谋。2011年10月5..",</span><a href="#">查看全部</a></p>
		</div>
	</div>
	<!--//输入城市名称进行搜索：-->
	<div class="btn">
		<div>
			<label for="search">
				<input type="search" placeholder="输入城市名字搜索最新电影" id="search"/>
				<button class="s_video"></button>
			</label>
		</div>
	</div>
	<!--//搜索到的电影-->
	<div class="content">
		<section data-num="1">
			<div class="cont">
				<div class="pic"><a href="#"><img src="../static/img/1.jpg" alt="" /></a></div>
				<div class="text">
					<h1>名称：<a href="javascript:;">圆梦巨人</a></h1>
					<h3>上映：<a href="javascript:;">2016年10月14日</a></h3>
					<h3>场数：<a href="javascript:;">今日好多家上映</a></h3>
					<h3>导演：<a href="javascript:;">史蒂文·斯皮尔伯格</a></h3>
					<h3>类型：<a href="javascript:;">冒险、家庭、奇幻</a></h3>
					<h3>7.2分</h3>
					<h3>主演：<a href="javascript:;">鲁比·巴恩希尔、马克·里朗斯、佩内洛普·威尔顿、杰梅·克莱门特</a></h3>
				</div>
			</div>
		</section>
		
	</div>
</div>